Source: lifepo4wered
Section: main
Priority: optional
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/xorbit/LiFePO4wered-Pi
Vcs-Git: https://github.com/xorbit/LiFePO4wered-Pi.git

Package: lifepo4wered
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tools for the LiFePO4wered/Pi+ and legacy modules
 This package contains an access library, command line tool, and daemon for
 the LiFePO4wered/Pi+ and legacy LiFePO4wered/Pi and LiFePO4wered/Pi3
 modules.
 .
 These modules act as an uninterruptible power supply for Raspberry Pi.

